<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>Home Page</title>
</head>
<body style="background-color: black; color: white; ">
    <%- include('partials/nav') %>
    
    <% if (locals.userFullName) { %>
        <h1>Hello <%= userFullName%>! Welcome to Home Tutor Hub</h1>
    <% } %>


    <%- include('partials/script') %>
</body>
</html>